% -*- mode: Erlang; -*-
{sub_dirs, ["dnsxd", "rel"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, nowarn_deprecated_function, fail_on_warning]}.
{deps, [{dns, ".*", {git, "https://github.com/andrewtj/dns_erlang.git",
		     {branch, "master"}}},
	{couchbeam, ".*", {git, "https://github.com/benoitc/couchbeam.git",
			      {branch, "master"}}},
	{procket, ".*",
	 {git, "https://github.com/msantos/procket.git", "master"}}
       ]}.
{dialyzer_opts, [{warnings, [unmatched_returns,
			     error_handling,
			     race_conditions,
			     underspecs]}, src]}.
