% -*- mode: Erlang; -*-
{sub_dirs, ["dnsxd", "rel"]}.
{cover_enabled, true}.
{cover_print_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [fail_on_warning, warnings_as_errors,
	    {parse_transform, lager_transform}]}.
{deps, [{lager_syslog, ".*",
	 {git, "https://github.com/basho/lager_syslog.git", {branch, "master"}}},
	{dns, ".*", {git, "https://github.com/andrewtj/dns_erlang.git",
		     {branch, "master"}}},
	{cutkey, ".*", {git, "https://github.com/andrewtj/cutkey.git", "HEAD"}},
	{getopt, ".*", {git, "https://github.com/jcomellas/getopt.git", "HEAD"}},
	{couchbeam, "0.7.3", {git, "https://github.com/benoitc/couchbeam.git",
			      {branch, "master"}}},
	{procket, ".*",
	 {git, "https://github.com/msantos/procket.git", "master"}}
       ]}.
