<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="Andrew Tunnell-Jones" />
<link href="http://dnsxd.com/atom.xml" rel="alternate" title="dnsxd news" type="application/atom+xml" />
<link href="http://fonts.googleapis.com/css?family=Cabin&v1" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/site.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/pygments.css" type="text/css" />
</head>
<body>
<div class="site">
{% if page.url != "/index.html" %}<div class="title">
  <a href="/">dnsxd</a>
</div>{% endif %}
{{ content }}
<div class="footer">
<div class="contact">
  <p>
  <a href="/">home</a> &middot;
    <a href="http://andrew.tj.id.au/email/">inquiries</a>  &middot;
  <a href="https://github.com/andrewtj/dnsxd/">github</a>
  </p>
</div>
</div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-334037-22']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
